@import url(https://fonts.googleapis.com/css?family=Abel);

body {
    margin: 0px;
    font-family : "Abel", sans-serif;
}

.faded {
    background: #000000;
    opacity: 0.5;
}

.hidden {
    display: none;
}

.button {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 70px 40px minmax(70px, auto);
    height: 100vh;
}

.container .header {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
    border-bottom: solid 2px #282828;
    color: #f4f4f4;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

.header .courseplan-id-input {
    font-size: 1.6em;
    width: 100px;
    text-align: center;
}

.logo {
    display: inline-block;
    line-height: 67px;
    font-size: 1.6em;
    text-align: center;
    width: 187px;
}

.program-list {
    display: inline-block;
    overflow: hidden;
    background-color: #333;
}

.program-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.program-list ul li  {
    float: left;
    font-size: 1.6em;
}

.program-list ul li a {
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 18px 26px;
}

.program-list .selected {
    background: #c0b283;
}

.program-list .selected:hover {
    background-color: #b1a374;
}

.program-list ul li a:hover {
    background-color: #111;
}
 
.container .sidebar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 16;
}

.sidebar input[type=text] {
    width: 172px;
    line-height: 25px;
    padding: 5px 5px 5px 5px;
    background: #ffffff;
    border: solid 5px #373737;
    border-top: none 0 #000000;
    border-left: none 0 #000000;
}

.sidebar ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.course-list .available {
    cursor: pointer;
}

.course-list .available:hover {
    background-color : #e5e5e5;
}

.course-list .in-selection {
    background-color: #888;
}

.course-list .in-selection a {
    border: 1px solid #f4f4f4;
    background: white;
    padding: 10px;
    color: #57622a;
}

.course-list ul .in-selection {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
}

.course-list ul .in-selection a {
    border: 1px solid black;
}

.course-list ul .in-selection a:hover {
    background-color: 1px solid black;
}

.course-list .selected {
    background-color: #57622a;
    color: #f4f4f4;
}

.course-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    width: 187px;
    overflow-x: hidden;
}

.course-list .list-item {
    font-size: 1.15em;
    cursor: pointer;
    padding: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.course-list .list-item .course-name {
    font-size: 1em;
}

.sidebar .filter-list {
    width: 100%;
    overflow: auto;
}

.container .content {
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 16;
    overflow: auto;
}

.content .content-menu {
    background-color: #333;
    color: #f4f4f4;
    padding: 0px;
    margin: 0px;
    list-style: none;
    height: 40px;
}

.content .content-menu a {
    padding: 9.5px 11px;
    cursor: pointer;
    float: left;
}

/*

.program-list .selected {
    background: #c0b283;
}

.program-list .selected:hover {
    background-color: #b1a374;
}

.program-list ul li a:hover {
    background-color: #111;
}

*/

.content .content-menu a:hover {
    background-color: #111;
}

.content .content-menu .active-content a {
    background: #c0b283;
}

.content .content-menu .active-content a:hover {
    background-color: #b1a374;
}

.content .content-wrap {
    height: 100%;
    overflow: auto;
    margin: 15px;
}

.container .footer {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 16;
    grid-row-end: 16;
    background: #333;
}  

.course-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 25px repeat(6, 1fr);
}

.course-grid .row-header {
    line-height: 115px;
    margin-top: 15px;
    margin-right: 15px;
}

.course-grid .grid-header {
    height: 25px;
    margin-bottom: -15px;
    text-align: center;
}

.course-grid .grid-slot {
    height: 115px;
    margin-top: 15px;
    margin-right: 15px;
}

.course-grid .grid-slot .course-list {
    display: flex;
    flex-flow: row;
    font-size: 0.8em;
    background-color: #cdc1b1;
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
}

.course-grid .grid-slot li a {
    padding: 9px;
    display: inline-block;
    cursor: pointer;
    font-size: 1em;
}

.course-grid .non-empty {
    background-color: #dcd0c0;
}

.course-grid .empty {
    background-color: #f4f4f4;
}
 
.course-grid .grid-slot .active-course {
    background-color: #dcd0c0;
}

.course-grid .grid-slot .active-course a {
    cursor: default !important;
}

.course-grid .grid-slot .visible-course {
    padding: 10px;
}

.course-grid .focused {
    outline : solid 2px #57622a;
}

.course-grid .stats-column {
    background: #dcd0c0;
}

.course-info {
    position: relative;
    height: 100%;
    padding-left: 15px;
}

.course-info .course-section {
    max-width: 600px;
}

.course-info .course-header h1 {
    border-bottom: 2px solid #57622a;
    width: fit-content;
}

.course-info .course-header p {
    margin-top: -21px;
    margin-left: 15px;
    font-size: 1.5em;
}

.course-info h2 {
    border-bottom: 2px solid #57622a;
    width: fit-content;
}

.course-info .button-menu {
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px;
}

@media (max-width:480px) {

  .container .header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
 
  .container .content {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  
  .content .course-grid ul {
      columns: 2;
  }
}
